
@tailwind base;
@tailwind utilities;
@tailwind components;
:root{
  /* transform: scale(0.7); */
  zoom: 75%; 
}

:root {
  --swiper-theme-color: #000000 !important;
}
.mySwiper{
  padding: 20px;
}
.profileBar{
  background: rgba(0, 0, 0, 0.3);
  /* filter: blur(20px); */
}

.profileBar::before {
    content: '' !important;
    position: absolute;
    filter: blur(30px) !important;
    z-index: -1 !important;

  }
.whatsapp_float {
          position: fixed;
          width: 60px;
          height: 60px;
          bottom: 40px;
          right: 40px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 50px;
          text-align: center;
          font-size: 30px;
          box-shadow: 2px 2px 3px #999;
          z-index: 100;
      }

      .whatsapp-icon {
          margin-top: 16px;
      }

      /* for mobile */
      @media screen and (max-width: 767px) {
          .whatsapp-icon {
              margin-top: 10px;
          }

          .whatsapp_float {
              width: 40px;
              height: 40px;
              bottom: 20px;
              right: 10px;
              font-size: 22px;
          }
      }

.shopClass{
  position: absolute;
  background: hsla(0, 0%, 100%, .3);
  box-shadow: 5px 3px 30px black;
  overflow: hidden;
}
.shopClass::before{
  content: '';
  position: absolute;
  filter: blur(20px);
  z-index: -1;
}
  /* Search bar */
.swiper-pagination-bullet{
  height: 12 !important;
  width: 12!important;
  border-radius: "50%"!important;
  border: 0!important;
  margin-left: "10px"!important;
  margin-right: "10px"!important;
  /* margin-top: "100px"!important; */
  /* margin-bottom: "40px"!important; */
  background: "black"!important;
  transition: "all 0.3s"!important;
}

.swiper-pagination-bullet-active{
  height: 12!important;
  width: 35!important;
  border-radius: "20px"!important;
  border: 0!important;
  margin-top: "50px"!important;
  margin-bottom: "40px"!important;
  background: "black"!important;
  transition: "all 0.3s"!important;
}

/* swiper */
