
@tailwind base;
@tailwind utilities;
@tailwind components;
:root{
  /* transform: scale(0.7); */
  zoom: 75%; 
}

:root {
  --swiper-theme-color: #000000 !important;
}
.mySwiper{
  padding: 20px;
}
.profileBar{
  background: rgba(0, 0, 0, 0.3);
  /* filter: blur(20px); */
}

.profileBar::before {
    content: '' !important;
    position: absolute;
    filter: blur(30px) !important;
    z-index: -1 !important;

  }
.whatsapp_float {
          position: fixed;
          width: 60px;
          height: 60px;
          bottom: 40px;
          right: 40px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 50px;
          text-align: center;
          font-size: 30px;
          box-shadow: 2px 2px 3px #999;
          z-index: 100;
      }

      .whatsapp-icon {
          margin-top: 16px;
      }

      /* for mobile */
      @media screen and (max-width: 767px) {
          .whatsapp-icon {
              margin-top: 0px;
          }

          .whatsapp_float {
              width: 40px;
              height: 40px;
              bottom: 20px;
              right: 0px;
              font-size: 22px;
          }
      }

.shopClass{
  position: absolute;
  background: hsla(0, 0%, 100%, .3);
  box-shadow: 5px 3px 30px black;
  overflow: hidden;
}
.shopClass::before{
  content: '';
  position: absolute;
  filter: blur(20px);
  z-index: -1;
}

/*  */
.desp-scroll{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.desp-scroll::-webkit-scrollbar {
  display: none;
}
.dropdowntriangle{
  position: absolute;
  bottom: 0;
  margin-bottom: -5px;
  right: 90px;
  /* margin-right: 10px; */
  color: black;
  opacity: 0.7;
  z-index: 10;
  width: 40px;

}


/* menu */
.menu{
  transition: 0.5s;
}
.burger-bar {
  width: 1.5em;
  height: 2px;
  margin-bottom: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
}
/* Animations */
    /* Clicked */
    .burger-bar, .clicked:nth-child(1){
      transform: rotate(45deg) translate(-0.3em, 1em);
      transition: ease-out 0.5s;
  }
  
  .burger-bar, .clicked:nth-child(2){
      transform: scale(0);
      transition: ease-out 0.5s;
  }
  
  .burger-bar, .clicked:nth-child(3){
      transform: rotate(-45deg) translate(-0.4em, -1em);
      transition: ease-out 0.5s;
  }
  
  /* UnClicked */
  .burger-bar , .unclicked{
      transform: rotate(0) translate(0);
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
/* Slick Slider */
.slick-slide > div {
  display: grid;
  place-items: center;
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.slick-dots{
  height: 12;
  width: 35;
  border-radius: "20px";
  border: 0;
  margin-top: "50px";
  margin-bottom: "40px";
  background: "black";
  transition: "all 0.3s";
}
